html {
    scroll-behavior: smooth;
}

html {
      line-height: 1.15;
      scroll-behavior: smooth;
      font-family: Inter, sans-serif;
      font-size: 16px;
    }
    body {
      margin: 0;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.15;
      color: #111827; /* Tailwind gray-900 */
      background: #FFFFF0; /* Tailwind gray-50 */
    }
    * {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      -webkit-font-smoothing: antialiased;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    a {
      color: inherit;
      text-decoration: none;
    }


    .hero-heading {
        color: #383841;
        /* font-size: 46px; */
        font-weight: 700;
        font-family: Manrope, sans-serif;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
        /* white-space: normal; */
    }
    .subheading{
        font-weight: 700;
        font-family: Manrope, sans-serif;

    }

    .Paragraph{
        font-family: Manrope;
        font-weight: 500;
    }

    .Heading3{
      color: #383841;
        /* font-size: 46px; */
        font-weight: 700;
        font-family: Manrope, sans-serif;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    }

    .Subtitle1{
      color: rgba(76, 77, 88, 1);
      font-size: 20px;
      font-style: Regular;
      font-family: Inter;
      font-weight: 400;
    }

    .Img1{
      color: rgba(0, 0, 0, 1);
      font-size: 20px;
      font-style: Medium;
      font-family: Inter;
      font-weight: 500;
    }
.logo
{
  width:140px;

  
}